<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Employee Manager</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
            <li class="nav-item active">
              <a class="nav-link" (click)="onOpenModal(null,'add')">
                New Employee
              </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="key" name="key" type="search" placeholder="Search"
              aria-label="Search" #key="ngModel" ngModel (ngModelChange)="searchEmployee(key.value)">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <br>
</div>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let emp of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{emp?.imageUrl + '?u=' + emp.id}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{emp.name}}</h5>
            <p class="m-0">{{emp.jobTitle}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{emp.email}}</a>
          </li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{emp.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(emp,'update')" class="btn btn-primary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(emp,'delete')" class="btn btn-secondary tooltips" data-placement="top"
              data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
          <ul class="social-links list-inline mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href=""
                data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- Add Employee Modal -->
      <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addEmployeeModalLabel">Add employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
              <div class="modal-body">
                <div class="form-group">
                  <label for="name" class="col-form-label">name:</label>
                  <input type="text" ngModel class="form-control" id="name" name="name" placeholder="Employee name"
                    required>
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email Address:</label>
                  <input type="text" ngModel class="form-control" id="email" name="email" placeholder="Email Address"
                    required>
                </div>
                <div class="form-group">
                  <label for="jobTitle" class="col-form-label">jobTitle:</label>
                  <input type="text" ngModel class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title"
                    required>
                </div>
                <div class="form-group">
                  <label for="phone" class="col-form-label">phone:</label>
                  <input type="text" ngModel class="form-control" id="phone" name="phone" placeholder="Phone" required>
                </div>
                <div class="form-group">
                  <label for="imageUrl" class="col-form-label">imageUrl:</label>
                  <input type="text" ngModel class="form-control" id="imageUrl" name="imageUrl" placeholder="Image"
                    required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  id="btnCloseAddEmployeeModal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Update Employee Modal -->
      <div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="updateEmployeeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateEmployeeModalLabel">Update employee {{editEmployee?.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form #updateForm="ngForm">
              <div class="modal-body">

                <input type="hidden" ngModel="{{editEmployee?.id}}" id="id" name="id" required>
                <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" id="employeeCode" name="employeeCode"
                  required>

                <div class="form-group">
                  <label for="name" class="col-form-label">name:</label>
                  <input type="text" ngModel="{{editEmployee?.name}}" class="form-control" id="name" name="name"
                    placeholder="Employee name" required>
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email Address:</label>
                  <input type="text" ngModel="{{editEmployee?.email}}" class="form-control" id="email" name="email"
                    placeholder="Email Address" required>
                </div>
                <div class="form-group">
                  <label for="jobTitle" class="col-form-label">jobTitle:</label>
                  <input type="text" ngModel="{{editEmployee?.jobTitle}}" class="form-control" id="jobTitle"
                    name="jobTitle" placeholder="Job Title" required>
                </div>
                <div class="form-group">
                  <label for="phone" class="col-form-label">phone:</label>
                  <input type="text" ngModel="{{editEmployee?.phone}}" class="form-control" id="phone" name="phone"
                    placeholder="Phone" required>
                </div>
                <div class="form-group">
                  <label for="imageUrl" class="col-form-label">imageUrl:</label>
                  <input type="text" ngModel="{{editEmployee?.imageUrl}}" class="form-control" id="imageUrl"
                    name="imageUrl" placeholder="Image" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  id="btnCloseUpdateEmployeeModal">Close</button>
                <button [disabled]="updateForm.invalid" (click)="onEditEmployee(updateForm.value)"
                  class="btn btn-warning">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Delete Employee Modal -->
      <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete for the employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete the employee {{deleteEmployee?.name}}?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteEmployee(deleteEmployee?.id)" type="button" class="btn btn-primary"
                data-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row" *ngIf="employees?.length == 0">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">NO EMPLOYEES!</h4>
        <p>No Employee were found.</p>
      </div>
    </div>
  </div>
</div>
